.articleCard{
    align-items: center;
    background-color:  #CBC0D3;
    border-radius: 25px; 
    border: 5px solid #8E9AAF; 
    column-gap: 5px;
    display: grid;
   
    gap: 20px;
    grid-template-columns: 1fr 2fr 2fr;
    margin-bottom: 20px;
    padding: 20px; 
}

.articleCardImage{
    max-width: 200px; 
}

.articleCardImage img{
    height: auto;
    width: 100%;
}

.articleCardContent{
    flex-shrink: 0;

}